<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body class="bg-dark">
    <%- include('./partials/nav.ejs') %>
    <section
      class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start"
    >
      <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
          <div>
            <h1><span class="text-warning">Student</span> Class Schedule</h1>
          </div>
        </div>
      </div>
    </section>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
