body::before {
  display: block;
  content: "";
  height: 60px;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}
nav {
  /* border-bottom: #ffffff solid 1px; */
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.303);
  background: linear-gradient(to bottom, rgba(75, 75, 75, 0.319),rgba(63, 63, 63, 0.152), rgba(63, 63, 63, 0));
}
.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

}
.nav-item {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  color: #ddd;
}
/* .nav-item:hover {
  background: linear-gradient(to bottom, rgba(75, 75, 75, 0.319),rgba(63, 63, 63, 0.152), rgba(63, 63, 63, 0));
  border-radius: 10%;
}
.nav-link {
  color: #ffffff;
  margin-right: 5%;
}
.nav-link:hover {
  color: #ffffff;
} */ */

.content {
  margin-left: 20px;
}
.hiddenMessage {
  opacity: 0;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-top: 10%;
  color: #82ff69;
  text-shadow: 20px 1px 20px rgb(0, 0, 0);
  filter: blur(5px);
  scale: 0.5;
   transition: opacity 2s, scale 2s, filter 2s;
}
.showMessage {
  opacity: 1;
  filter: blur(0);
  scale: 1;
}
.hiddenLinks a {
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 120%;
  text-align: center;
}
.hiddenLinks {
  font-family: "Ubuntu", sans-serif;
  display: grid;
  /* grid-template-columns: repeat(auto-fill, 1fr); */
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  justify-content: center;
  text-decoration: none;
  scale: 0;
  filter: blur(10px) opacity(0);
  transition: scale 2s, filter 2s;
  margin:0 auto;
  margin-top: 5%;
}
.showLinks {
  transition-delay: 500ms;
  scale: 1;
  filter: blur(0) opacity(1);
}

.hiddenLinks a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 2%;
  padding-left: 2%;
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 10%;
  width: 7em;
  height: 4em;
  color: #ddd;
  box-shadow: 20px 5px 3px rgba(0, 0, 0, 0.406);
  border-radius: 5px;
  text-shadow: none;
  background: linear-gradient(to bottom, rgba(75, 75, 75, 0.319),rgba(63, 63, 63, 0.152), rgba(63, 63, 63, 0));
  transition: scale 1s, box-shadow 1s, border-radius 1s, background 1s, color 1s, text-shadow 1s;
}
/* .hiddenLinks a:nth-child(4) {
  grid-column-start:2 ;
} */
.hiddenLinks a:hover {
  box-shadow: 30px -20px 20px rgba(0, 0, 0, 0.406);
  scale: 1.1;
  background: #82ff69;
  color: black;
  border-radius: 32px;
  text-shadow:1px 1px 10px rgba(0, 0, 0, 0.511);
}



.courses a {
  display: block;
  margin: 40px 0;
  padding-left: 30px;
  /* border-left: 6px solid blue; */
}
/* .courses a:hover h3 {
  color: lightblue;
} */

.details {
  position: relative;
}
.delete {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  padding: 8px;
}
.delete:hover {
  cursor: pointer;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

.create-course form {
  max-width: 400px;
  margin: 0 auto;
}
.create-course input,
.create-course textarea {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}
.create-course label {
  display: block;
  margin-top: 24px;
}
textarea {
  height: 120px;
}
.create-course button {
  margin-top: 20px;

  color: white;
  padding: 6px;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;
}
form h2{
  font-size: 2.4em;
  font-weight: 900;
  margin-bottom: 40spx;
  color: #ffffff;
}
form{
  width: 360px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 20px 5px 3px rgba(0, 0, 0, 0.406);
  border-radius: 10px;
  background: linear-gradient(to bottom, rgba(75, 75, 75, 0.58),rgba(63, 63, 63, 0.152), rgba(63, 63, 63, 0));
  scale: 1.0;
  margin-top: 8%;
  margin-bottom: 20%;
  transition: 1s;
}
form:hover{
  box-shadow: 30px -20px 20px rgba(0, 0, 0, 0.406);
  scale: 1.01;
}
input{
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  font-size: 1em;
  width: 100%;
  transition: .5s;
}
input:hover{
  scale: 1.05;
  box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.2);
  
}
label {
  transform: translateY(20px);
  color: #ddd;
  margin: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out; /* add this line */
}

form:hover label:nth-of-type(4) {
  opacity: 1;
  transform: translateY(0);
}
form:hover label:nth-of-type(3) {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 100ms;
}
form:hover label:nth-of-type(2) {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 200ms;
}
form:hover label:nth-of-type(1) {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 300ms;
}
button{
  margin-top: 30px;
  border-radius: 5px;
  background: #FEE996;
  border:0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
  transition: .7s;
}
button:hover {
  background: #82ff69;
  border-radius: 32px;
}
form h2 {
  color: #82ff69;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.error{
  color: #ff6d6d;
  margin: 10px 2px;
  font-size: .9em;
  font-weight: bold;
}
/* VIEWING COURSES PAGE */
.single {
  text-decoration: none;
  margin-top: 30px;
  border-radius: 5px;
  background: linear-gradient(to bottom, rgba(75, 75, 75, 0.58),rgba(63, 63, 63, 0.152), rgba(63, 63, 63, 0));
  box-shadow: 20px 5px 3px rgba(0, 0, 0, 0.406);
  color: #ddd;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  opacity: 0;
  transform: translateY(20px);
  transition: .7s;
}
.single:hover{
  cursor: pointer;
  color: black;
  box-shadow: 30px -20px 20px rgba(0, 0, 0, 0.406);
  scale: 1.01;
  background: #82ff69;
  border-radius: 32px;
  transition-delay: 0ms;
  
}
.container:hover .single:nth-of-type(1) {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 100ms;
}
.container:hover .single:nth-of-type(2) {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 75ms;
}
.container:hover .single:nth-of-type(3) {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 50ms;
}
.container:hover .single:nth-of-type(4) {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 25ms;
}
.container:hover .single:nth-of-type(5) {
  opacity: 1;
  transform: translateY(0);
}

